<a href="https://colab.research.google.com/github/amolaka/DS-3001---Voting-Project/blob/main/cleaning_county_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [137]:
# import packages
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

In [138]:
# upload county data 1(file w va in it)
df1 = pd.read_csv('./0002_ds176_20105_county_M.csv', header=1)
df2 = pd.read_csv('/content/0002_ds177_20105_county_M.csv', header=1)
df3 = pd.read_csv('/content/0002_ds191_20125_county_M.csv', header=1)
df4 = pd.read_csv('/content/0002_ds206_20145_county_M.csv', header=1)
df5 = pd.read_csv('/content/0002_ds225_20165_county_M.csv', header=1)
df6 = pd.read_csv('/content/0002_ds239_20185_county_M.csv', header=1)
df7 = pd.read_csv('/content/0002_ds249_20205_county_M.csv', header=1)
df8 = pd.read_csv('/content/0002_ds250_20205_county_M.csv', header=1)

<ipython-input-138-af122cc67f43>:2: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('./0002_ds176_20105_county_M.csv', header=1)
<ipython-input-138-af122cc67f43>:3: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/content/0002_ds177_20105_county_M.csv', header=1)
<ipython-input-138-af122cc67f43>:8: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv('/content/0002_ds249_20205_county_M.csv', header=1)

Isolate Virginia Data

In [139]:
df1.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Built 2000 to 2004,Built 1990 to 1999,Built 1980 to 1989,Built 1970 to 1979,Built 1960 to 1969,Built 1950 to 1959,Built 1940 to 1949,Built 1939 or earlier,Median gross rent,Median value (dollars)
0,2,G0100010,2006-2010,AL,NaN,NaN,Alabama,1,Autauga County,1.0,...,316,389,353,275,258,168,78.0,161.0,45.0,3968.0
1,3,G0100030,2006-2010,AL,NaN,NaN,Alabama,1,Baldwin County,3.0,...,1003,998,817,838,574,457,297.0,369.0,28.0,3948.0
2,4,G0100050,2006-2010,AL,NaN,NaN,Alabama,1,Barbour County,5.0,...,155,279,229,273,247,183,155.0,195.0,33.0,6409.0
3,5,G0100070,2006-2010,AL,NaN,NaN,Alabama,1,Bibb County,7.0,...,148,321,269,308,273,217,111.0,201.0,48.0,8918.0
4,6,G0100090,2006-2010,AL,NaN,NaN,Alabama,1,Blount County,9.0,...,289,523,449,362,344,266,227.0,227.0,32.0,5349.0

In [140]:
df1['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [141]:
virginia_counties = df1[df1['State Name'] == 'Virginia']
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Built 2000 to 2004,Built 1990 to 1999,Built 1980 to 1989,Built 1970 to 1979,Built 1960 to 1969,Built 1950 to 1959,Built 1940 to 1949,Built 1939 or earlier,Median gross rent,Median value (dollars)
2820,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,236,442,367,422,311,262,193.0,446.0,32.0,9413.0
2821,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,458,573,551,541,349,339,167.0,406.0,31.0,8613.0
2822,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,102,175,153,247,165,171,139.0,206.0,65.0,6704.0
2823,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,172,194,169,216,173,123,113.0,123.0,60.0,8897.0
2824,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,148,287,345,291,263,242,172.0,238.0,35.0,5825.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,2951,G5108000,2006-2010,VA,NaN,NaN,Virginia,51,Suffolk City,800.0,...,410,449,343,380,345,366,212.0,315.0,32.0,7739.0
2950,2952,G5108100,2006-2010,VA,NaN,NaN,Virginia,51,Virginia Beach City,810.0,...,661,802,1208,1073,809,666,305.0,311.0,12.0,2810.0
2951,2953,G5108200,2006-2010,VA,NaN,NaN,Virginia,51,Waynesboro City,820.0,...,128,250,254,192,256,246,214.0,348.0,46.0,6057.0
2952,2954,G5108300,2006-2010,VA,NaN,NaN,Virginia,51,Williamsburg City,830.0,...,119,168,157,167,170,84,126.0,151.0,60.0,29871.0
2953,2955,G5108400,2006-2010,VA,NaN,NaN,Virginia,51,Winchester City,840.0,...,192,263,209,288,295,261,208.0,305.0,29.0,13575.0

In [142]:
df2.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Female: 70 to 74 years,Female: 70 to 74 years: In labor force,Female: 70 to 74 years: In labor force: Employed,Female: 70 to 74 years: In labor force: Unemployed,Female: 70 to 74 years: Not in labor force,Female: 75 years and over,Female: 75 years and over: In labor force,Female: 75 years and over: In labor force: Employed,Female: 75 years and over: In labor force: Unemployed,Female: 75 years and over: Not in labor force
0,2,G0100010,2006-2010,AL,NaN,NaN,Alabama,1,Autauga County,1.0,...,156,33,33,119,158,6,16,16.0,119.0,15.0
1,3,G0100030,2006-2010,AL,NaN,NaN,Alabama,1,Baldwin County,3.0,...,270,151,145,24,299,81,73,73.0,119.0,115.0
2,4,G0100050,2006-2010,AL,NaN,NaN,Alabama,1,Barbour County,5.0,...,76,35,35,119,71,21,21,119.0,21.0,30.0
3,5,G0100070,2006-2010,AL,NaN,NaN,Alabama,1,Bibb County,7.0,...,93,62,62,119,88,0,17,17.0,119.0,17.0
4,6,G0100090,2006-2010,AL,NaN,NaN,Alabama,1,Blount County,9.0,...,158,61,61,119,160,56,43,43.0,119.0,51.0

In [143]:
df2['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [144]:
df2_va = df2[df2['State Name'] == 'Virginia']
df2_va

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Female: 70 to 74 years,Female: 70 to 74 years: In labor force,Female: 70 to 74 years: In labor force: Employed,Female: 70 to 74 years: In labor force: Unemployed,Female: 70 to 74 years: Not in labor force,Female: 75 years and over,Female: 75 years and over: In labor force,Female: 75 years and over: In labor force: Employed,Female: 75 years and over: In labor force: Unemployed,Female: 75 years and over: Not in labor force
2820,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,149,67,67,127,139,127,57,57.0,6.0,57.0
2821,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,189,81,81,127,186,63,117,117.0,127.0,138.0
2822,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,81,28,28,127,80,31,16,16.0,127.0,37.0
2823,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,80,37,37,127,84,0,127,127.0,127.0,127.0
2824,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,118,56,56,127,111,56,37,37.0,127.0,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,2951,G5108000,2006-2010,VA,NaN,NaN,Virginia,51,Suffolk City,800.0,...,185,59,59,127,192,70,46,46.0,127.0,86.0
2950,2952,G5108100,2006-2010,VA,NaN,NaN,Virginia,51,Virginia Beach City,810.0,...,356,172,166,31,367,34,121,118.0,16.0,120.0
2951,2953,G5108200,2006-2010,VA,NaN,NaN,Virginia,51,Waynesboro City,820.0,...,94,33,33,127,90,55,29,29.0,127.0,65.0
2952,2954,G5108300,2006-2010,VA,NaN,NaN,Virginia,51,Williamsburg City,830.0,...,69,39,39,127,72,52,18,18.0,127.0,59.0
2953,2955,G5108400,2006-2010,VA,NaN,NaN,Virginia,51,Winchester City,840.0,...,95,48,47,11,88,80,41,41.0,127.0,72.0

In [145]:
virginia_counties = pd.concat([virginia_counties, df2_va], ignore_index=True)
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Female: 65 to 69 years: Not in labor force,Female: 70 to 74 years: In labor force,Female: 70 to 74 years: In labor force: Employed,Female: 70 to 74 years: In labor force: Unemployed,Female: 70 to 74 years: Not in labor force,Female: 75 years and over,Female: 75 years and over: In labor force,Female: 75 years and over: In labor force: Employed,Female: 75 years and over: In labor force: Unemployed,Female: 75 years and over: Not in labor force
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2951,G5108000,2006-2010,VA,NaN,NaN,Virginia,51,Suffolk City,800.0,...,207.0,59.0,59.0,127.0,192.0,70.0,46.0,46.0,127.0,86.0
264,2952,G5108100,2006-2010,VA,NaN,NaN,Virginia,51,Virginia Beach City,810.0,...,352.0,172.0,166.0,31.0,367.0,34.0,121.0,118.0,16.0,120.0
265,2953,G5108200,2006-2010,VA,NaN,NaN,Virginia,51,Waynesboro City,820.0,...,114.0,33.0,33.0,127.0,90.0,55.0,29.0,29.0,127.0,65.0
266,2954,G5108300,2006-2010,VA,NaN,NaN,Virginia,51,Williamsburg City,830.0,...,62.0,39.0,39.0,127.0,72.0,52.0,18.0,18.0,127.0,59.0
267,2955,G5108400,2006-2010,VA,NaN,NaN,Virginia,51,Winchester City,840.0,...,78.0,48.0,47.0,11.0,88.0,80.0,41.0,41.0,127.0,72.0

In [146]:
df3.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Not in labor force,Total.8,Total.9,Occupied,Vacant,Total.10,Owner occupied,Renter occupied,Median gross rent,Median value (dollars)
0,2,G0100010,2008-2012,AL,NaN,NaN,Alabama,1,Autauga County,1.0,...,619,60,60,376,374,376,364.0,408.0,37.0,4282.0
1,3,G0100030,2008-2012,AL,NaN,NaN,Alabama,1,Baldwin County,3.0,...,1163,177,177,994,1020,994,1039.0,1002.0,22.0,2814.0
2,4,G0100050,2008-2012,AL,NaN,NaN,Alabama,1,Barbour County,5.0,...,509,151,151,307,281,307,283.0,300.0,28.0,4968.0
3,5,G0100070,2008-2012,AL,NaN,NaN,Alabama,1,Bibb County,7.0,...,574,66,66,340,318,340,294.0,227.0,65.0,8833.0
4,6,G0100090,2008-2012,AL,NaN,NaN,Alabama,1,Blount County,9.0,...,695,79,79,431,418,431,450.0,404.0,27.0,4327.0

In [147]:
df3['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [148]:
df3_va = df3[df3['State Name'] == 'Virginia']
df3_va

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Not in labor force,Total.8,Total.9,Occupied,Vacant,Total.10,Owner occupied,Renter occupied,Median gross rent,Median value (dollars)
2820,2822,G5100010,2008-2012,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,651,231,231,556,498,556,397.0,453.0,33.0,7033.0
2821,2823,G5100030,2008-2012,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,1117,515,515,765,516,765,591.0,815.0,26.0,9815.0
2822,2824,G5100050,2008-2012,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,298,50,50,211,203,211,199.0,184.0,61.0,5736.0
2823,2825,G5100070,2008-2012,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,377,40,40,233,226,233,285.0,239.0,180.0,20257.0
2824,2826,G5100090,2008-2012,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,490,163,163,333,281,333,343.0,324.0,20.0,5370.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,2951,G5108000,2008-2012,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,646,83,83,400,389,400,483.0,464.0,36.0,5528.0
2950,2952,G5108100,2008-2012,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,1661,509,509,1149,975,1149,1447.0,1372.0,13.0,1920.0
2951,2953,G5108200,2008-2012,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,362,47,47,276,265,276,298.0,273.0,53.0,6548.0
2952,2954,G5108300,2008-2012,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,404,250,250,335,223,335,172.0,382.0,60.0,36967.0
2953,2955,G5108400,2008-2012,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,455,157,157,327,299,327,307.0,349.0,40.0,9945.0

In [149]:
virginia_counties = pd.concat([virginia_counties, df3_va], ignore_index=True)
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Professional school degree,Doctorate degree,Median household income in the past 12 months (in 2012 inflation-adjusted dollars),Per capita income in the past 12 months (in 2012 inflation-adjusted dollars),In labor force,In labor force: Civilian labor force,In labor force: Civilian labor force: Employed,In labor force: Civilian labor force: Unemployed,In labor force: Armed Forces,Not in labor force
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,2951,G5108000,2008-2012,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,158.0,118.0,2445.0,777.0,637.0,711.0,708.0,369.0,336.0,646.0
398,2952,G5108100,2008-2012,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,521.0,330.0,1136.0,437.0,1698.0,2178.0,2201.0,906.0,1280.0,1661.0
399,2953,G5108200,2008-2012,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,149.0,69.0,2441.0,2257.0,345.0,344.0,354.0,172.0,47.0,362.0
400,2954,G5108300,2008-2012,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,93.0,121.0,4811.0,1624.0,409.0,416.0,446.0,188.0,46.0,404.0
401,2955,G5108400,2008-2012,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,153.0,70.0,3343.0,1538.0,478.0,471.0,547.0,302.0,75.0,455.0

In [150]:
df4.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Total.8,Total.9,Occupied,Vacant,Total.10,Owner occupied,Renter occupied,Median gross rent,Median gross rent as a percentage of household income,Median value (dollars)
0,2,G0100010,2010-2014,AL,NaN,NaN,Alabama,1,Autauga County,1.0,...,67,67,458,455,458.0,579,564.0,35.0,3.4,5227.0
1,3,G0100030,2010-2014,AL,NaN,NaN,Alabama,1,Baldwin County,3.0,...,168,168,1241,1215,1241.0,954,1079.0,19.0,1.5,3288.0
2,4,G0100050,2010-2014,AL,NaN,NaN,Alabama,1,Barbour County,5.0,...,120,120,311,282,311.0,270,289.0,34.0,4.0,6866.0
3,5,G0100070,2010-2014,AL,NaN,NaN,Alabama,1,Bibb County,7.0,...,66,66,390,381,390.0,362,297.0,49.0,5.9,11070.0
4,6,G0100090,2010-2014,AL,NaN,NaN,Alabama,1,Blount County,9.0,...,77,77,399,393,399.0,519,439.0,30.0,1.9,4757.0

In [151]:
df4['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [152]:
df4_va = df4[df4['State Name'] == 'Virginia']
df4_va

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Total.8,Total.9,Occupied,Vacant,Total.10,Owner occupied,Renter occupied,Median gross rent,Median gross rent as a percentage of household income,Median value (dollars)
2820,2822,G5100010,2010-2014,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,302,302,610,500,610.0,415,538.0,25.0,2.7,9362.0
2821,2823,G5100030,2010-2014,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,512,512,669,525,669.0,590,644.0,26.0,1.6,10409.0
2822,2824,G5100050,2010-2014,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,76,76,216,188,216.0,224,187.0,99.0,4.7,5641.0
2823,2825,G5100070,2010-2014,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,44,44,203,193,203.0,267,208.0,74.0,13.7,19478.0
2824,2826,G5100090,2010-2014,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,127,127,281,254,281.0,284,339.0,28.0,4.1,5537.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2948,2950,G5108000,2010-2014,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,103,103,392,364,392.0,592,499.0,40.0,1.8,4629.0
2949,2951,G5108100,2010-2014,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,524,524,936,831,936.0,1268,1214.0,13.0,0.7,2240.0
2950,2952,G5108200,2010-2014,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,38,38,264,257,264.0,356,373.0,24.0,2.8,6423.0
2951,2953,G5108300,2010-2014,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,244,244,260,152,260.0,160,279.0,57.0,2.9,27915.0
2952,2954,G5108400,2010-2014,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,122,122,336,301,336.0,275,408.0,42.0,3.2,8086.0

In [153]:
virginia_counties = pd.concat([virginia_counties, df4_va], ignore_index=True)
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,In labor force,In labor force: Civilian labor force,In labor force: Civilian labor force: Employed,In labor force: Civilian labor force: Unemployed,In labor force: Armed Forces,Not in labor force,"Congressional District (2013-2017, 113th-114th Congress) Code",Median household income in the past 12 months (in 2014 inflation-adjusted dollars),Per capita income in the past 12 months (in 2014 inflation-adjusted dollars),Median gross rent as a percentage of household income
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,2950,G5108000,2010-2014,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,644.0,657.0,736.0,389.0,243.0,704.0,NaN,2281.0,861.0,1.8
531,2951,G5108100,2010-2014,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,1815.0,1950.0,2193.0,891.0,1235.0,1832.0,NaN,938.0,506.0,0.7
532,2952,G5108200,2010-2014,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,340.0,345.0,351.0,212.0,43.0,348.0,NaN,2620.0,1106.0,2.8
533,2953,G5108300,2010-2014,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,381.0,384.0,405.0,116.0,37.0,387.0,NaN,4448.0,1973.0,2.9
534,2954,G5108400,2010-2014,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,469.0,467.0,462.0,248.0,74.0,511.0,NaN,2463.0,1572.0,3.2

In [154]:
df5.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,In labor force: Civilian labor force,In labor force: Civilian labor force: Employed,In labor force: Civilian labor force: Unemployed,In labor force: Armed Forces,Not in labor force,Total.8,Owner occupied,Renter occupied,Median gross rent,Median value (dollars)
0,2,G0100010,2012-2016,AL,NaN,NaN,Alabama,1,Autauga County,1.0,...,703,694,277,109,733,391,548.0,576.0,37.0,5337.0
1,3,G0100030,2012-2016,AL,NaN,NaN,Alabama,1,Baldwin County,3.0,...,1474,1553,674,122,1491,1285,1142.0,874.0,24.0,3862.0
2,4,G0100050,2012-2016,AL,NaN,NaN,Alabama,1,Barbour County,5.0,...,338,414,267,21,336,286,257.0,244.0,33.0,7258.0
3,5,G0100070,2012-2016,AL,NaN,NaN,Alabama,1,Bibb County,7.0,...,467,492,207,10,463,352,303.0,296.0,57.0,11238.0
4,6,G0100090,2012-2016,AL,NaN,NaN,Alabama,1,Blount County,9.0,...,705,705,284,16,709,403,507.0,410.0,21.0,5196.0

In [155]:
df5['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [156]:
df5_va = df5[df5['State Name'] == 'Virginia']
df5_va

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,In labor force: Civilian labor force,In labor force: Civilian labor force: Employed,In labor force: Civilian labor force: Unemployed,In labor force: Armed Forces,Not in labor force,Total.8,Owner occupied,Renter occupied,Median gross rent,Median value (dollars)
2820,2822,G5100010,2012-2016,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,486,539,280,94,484,537,523.0,462.0,45.0,8290.0
2821,2823,G5100030,2012-2016,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,959,928,248,117,985,687,637.0,648.0,26.0,8679.0
2822,2824,G5100050,2012-2016,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,324,328,112,8,332,221,218.0,173.0,30.0,5067.0
2823,2825,G5100070,2012-2016,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,294,285,130,19,333,247,278.0,224.0,94.0,13714.0
2824,2826,G5100090,2012-2016,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,540,494,199,25,512,349,386.0,300.0,32.0,5220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2948,2950,G5108000,2012-2016,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,642,678,328,273,648,396,448.0,392.0,33.0,3677.0
2949,2951,G5108100,2012-2016,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,1996,2115,713,1455,1700,1094,1228.0,1156.0,15.0,2304.0
2950,2952,G5108200,2012-2016,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,460,435,156,47,444,252,361.0,371.0,40.0,5893.0
2951,2953,G5108300,2012-2016,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,375,377,168,32,416,205,165.0,236.0,51.0,23166.0
2952,2954,G5108400,2012-2016,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,536,523,182,66,523,323,364.0,434.0,43.0,10057.0

In [157]:
virginia_counties = pd.concat([virginia_counties, df5_va], ignore_index=True)
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,In labor force: Civilian labor force: Unemployed,In labor force: Armed Forces,Not in labor force,"Congressional District (2013-2017, 113th-114th Congress) Code",Median household income in the past 12 months (in 2014 inflation-adjusted dollars),Per capita income in the past 12 months (in 2014 inflation-adjusted dollars),Median gross rent as a percentage of household income,"Congressional District (2017-2019, 115th Congress) Code",Median household income in the past 12 months (in 2016 inflation-adjusted dollars),Per capita income in the past 12 months (in 2016 inflation-adjusted dollars)
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,2950,G5108000,2012-2016,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,328.0,273.0,648.0,NaN,NaN,NaN,NaN,NaN,1970.0,877.0
664,2951,G5108100,2012-2016,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,713.0,1455.0,1700.0,NaN,NaN,NaN,NaN,NaN,1013.0,450.0
665,2952,G5108200,2012-2016,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,156.0,47.0,444.0,NaN,NaN,NaN,NaN,NaN,4031.0,1208.0
666,2953,G5108300,2012-2016,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,168.0,32.0,416.0,NaN,NaN,NaN,NaN,NaN,3162.0,2461.0
667,2954,G5108400,2012-2016,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,182.0,66.0,523.0,NaN,NaN,NaN,NaN,NaN,1994.0,1308.0

In [158]:
df6.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Not in labor force,Total.8,Total.9,Occupied,Vacant,Total.10,Owner occupied,Renter occupied,Median gross rent,Median value (dollars)
0,2,G0100010,2014-2018,AL,NaN,NaN,Alabama,1,Autauga County,1.0,...,718.0,71,71,383,380,383,494.0,448.0,35.0,5685.0
1,3,G0100030,2014-2018,AL,NaN,NaN,Alabama,1,Baldwin County,3.0,...,1584.0,206,206,1183,1122,1183,1171.0,1053.0,28.0,4020.0
2,4,G0100050,2014-2018,AL,NaN,NaN,Alabama,1,Barbour County,5.0,...,407.0,123,123,280,259,280,284.0,324.0,31.0,7468.0
3,5,G0100070,2014-2018,AL,NaN,NaN,Alabama,1,Bibb County,7.0,...,536.0,77,77,321,310,321,333.0,290.0,59.0,12376.0
4,6,G0100090,2014-2018,AL,NaN,NaN,Alabama,1,Blount County,9.0,...,738.0,55,55,396,386,396,494.0,410.0,20.0,4967.0

In [159]:
df6['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [160]:
df6_va = df6[df6['State Name'] == 'Virginia']
df6_va

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Not in labor force,Total.8,Total.9,Occupied,Vacant,Total.10,Owner occupied,Renter occupied,Median gross rent,Median value (dollars)
2820,2822,G5100010,2014-2018,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,703.0,192,192,507,457,507,454.0,417.0,34.0,7045.0
2821,2823,G5100030,2014-2018,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,922.0,476,476,683,563,683,621.0,708.0,34.0,10254.0
2822,2824,G5100050,2014-2018,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,250.0,76,76,186,187,186,216.0,202.0,38.0,6452.0
2823,2825,G5100070,2014-2018,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,340.0,36,36,193,189,193,233.0,185.0,70.0,16742.0
2824,2826,G5100090,2014-2018,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,509.0,86,86,313,306,313,405.0,261.0,41.0,4403.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2948,2950,G5108000,2014-2018,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,820.0,113,113,360,317,360,556.0,591.0,40.0,4201.0
2949,2951,G5108100,2014-2018,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,1509.0,455,455,882,824,882,1264.0,1338.0,15.0,2492.0
2950,2952,G5108200,2014-2018,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,407.0,52,52,270,268,270,357.0,359.0,52.0,7752.0
2951,2953,G5108300,2014-2018,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,293.0,148,148,206,163,206,169.0,216.0,51.0,27808.0
2952,2954,G5108400,2014-2018,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,535.0,103,103,292,293,292,312.0,375.0,46.0,8926.0

In [161]:
virginia_counties = pd.concat([virginia_counties, df6_va], ignore_index=True)
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Median household income in the past 12 months (in 2014 inflation-adjusted dollars),Per capita income in the past 12 months (in 2014 inflation-adjusted dollars),Median gross rent as a percentage of household income,"Congressional District (2017-2019, 115th Congress) Code",Median household income in the past 12 months (in 2016 inflation-adjusted dollars),Per capita income in the past 12 months (in 2016 inflation-adjusted dollars),"Congressional District (2019-2021, 116th Congress) Code",Census Geographic Identifier,Median household income in the past 12 months (in 2018 inflation-adjusted dollars),Per capita income in the past 12 months (in 2018 inflation-adjusted dollars)
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,2950,G5108000,2014-2018,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05000US51800,2173.0,793.0
797,2951,G5108100,2014-2018,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05000US51810,953.0,516.0
798,2952,G5108200,2014-2018,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05000US51820,4299.0,1822.0
799,2953,G5108300,2014-2018,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05000US51830,6110.0,2152.0
800,2954,G5108400,2014-2018,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05000US51840,4115.0,1698.0

In [162]:
df7.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,With an Internet subscription: Broadband of any type,With an Internet subscription: Cellular data plan,With an Internet subscription: Cellular data plan: Cellular data plan with no other type of Internet subscription,"With an Internet subscription: Broadband such as cable, fiber optic or DSL","With an Internet subscription: Broadband such as cable, fiber optic or DSL: Broadband such as cable, fiber optic or DSL with no other type of Internet subscription",With an Internet subscription: Satellite Internet service,With an Internet subscription: Satellite Internet service: Satellite Internet service with no other type of Internet subscription,With an Internet subscription: Other service with no other type of Internet subscription,Internet access without a subscription,No Internet access
0,2,G0100010,2016-2020,AL,NaN,NaN,Alabama,1,Autauga County,1.0,...,442,556,402,550.0,401.0,337.0,174.0,71.0,176.0,401.0
1,3,G0100030,2016-2020,AL,NaN,NaN,Alabama,1,Baldwin County,3.0,...,1482,1569,1064,1573.0,565.0,741.0,259.0,29.0,397.0,897.0
2,4,G0100050,2016-2020,AL,NaN,NaN,Alabama,1,Barbour County,5.0,...,375,377,273,302.0,131.0,149.0,45.0,23.0,245.0,285.0
3,5,G0100070,2016-2020,AL,NaN,NaN,Alabama,1,Bibb County,7.0,...,335,339,234,377.0,108.0,250.0,71.0,23.0,103.0,252.0
4,6,G0100090,2016-2020,AL,NaN,NaN,Alabama,1,Blount County,9.0,...,636,685,474,594.0,364.0,344.0,98.0,34.0,116.0,421.0

In [163]:
df7['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [164]:
df7_va = df7[df7['State Name'] == 'Virginia']
df7_va

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,With an Internet subscription: Broadband of any type,With an Internet subscription: Cellular data plan,With an Internet subscription: Cellular data plan: Cellular data plan with no other type of Internet subscription,"With an Internet subscription: Broadband such as cable, fiber optic or DSL","With an Internet subscription: Broadband such as cable, fiber optic or DSL: Broadband such as cable, fiber optic or DSL with no other type of Internet subscription",With an Internet subscription: Satellite Internet service,With an Internet subscription: Satellite Internet service: Satellite Internet service with no other type of Internet subscription,With an Internet subscription: Other service with no other type of Internet subscription,Internet access without a subscription,No Internet access
2821,2823,G5100010,2016-2020,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,600,607,386,534.0,233.0,260.0,57.0,12.0,165.0,325.0
2822,2824,G5100030,2016-2020,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,875,907,898,908.0,399.0,329.0,153.0,102.0,210.0,437.0
2823,2825,G5100050,2016-2020,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,265,276,102,266.0,203.0,98.0,23.0,20.0,87.0,263.0
2824,2826,G5100070,2016-2020,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,306,261,208,342.0,185.0,282.0,86.0,20.0,66.0,258.0
2825,2827,G5100090,2016-2020,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,423,444,328,414.0,263.0,233.0,143.0,25.0,111.0,267.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,2951,G5108000,2016-2020,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,539,538,514,652.0,319.0,417.0,73.0,12.0,222.0,419.0
2950,2952,G5108100,2016-2020,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,1253,1274,803,1496.0,812.0,578.0,123.0,67.0,528.0,829.0
2951,2953,G5108200,2016-2020,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,378,362,310,420.0,230.0,119.0,82.0,50.0,161.0,283.0
2952,2954,G5108300,2016-2020,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,319,332,137,327.0,95.0,92.0,28.0,20.0,136.0,191.0
2953,2955,G5108400,2016-2020,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,391,410,242,417.0,281.0,167.0,67.0,24.0,175.0,270.0

In [165]:
virginia_counties = pd.concat([virginia_counties, df7_va], ignore_index=True)
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,With an Internet subscription: Broadband of any type,With an Internet subscription: Cellular data plan,With an Internet subscription: Cellular data plan: Cellular data plan with no other type of Internet subscription,"With an Internet subscription: Broadband such as cable, fiber optic or DSL","With an Internet subscription: Broadband such as cable, fiber optic or DSL: Broadband such as cable, fiber optic or DSL with no other type of Internet subscription",With an Internet subscription: Satellite Internet service,With an Internet subscription: Satellite Internet service: Satellite Internet service with no other type of Internet subscription,With an Internet subscription: Other service with no other type of Internet subscription,Internet access without a subscription,No Internet access
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929,2951,G5108000,2016-2020,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,539.0,538.0,514.0,652.0,319.0,417.0,73.0,12.0,222.0,419.0
930,2952,G5108100,2016-2020,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,1253.0,1274.0,803.0,1496.0,812.0,578.0,123.0,67.0,528.0,829.0
931,2953,G5108200,2016-2020,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,378.0,362.0,310.0,420.0,230.0,119.0,82.0,50.0,161.0,283.0
932,2954,G5108300,2016-2020,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,319.0,332.0,137.0,327.0,95.0,92.0,28.0,20.0,136.0,191.0
933,2955,G5108400,2016-2020,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,391.0,410.0,242.0,417.0,281.0,167.0,67.0,24.0,175.0,270.0

In [166]:
df8.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Female: 35 to 64 years,Female: 35 to 64 years: With a disability,Female: 35 to 64 years: No disability,Female: 65 to 74 years,Female: 65 to 74 years: With a disability,Female: 65 to 74 years: No disability,Female: 75 years and over,Female: 75 years and over: With a disability,Female: 75 years and over: No disability,Gini Index
0,2,G0100010,2016-2020,AL,NaN,NaN,Alabama,1,Autauga County,1.0,...,165.0,347.0,373.0,84.0,164.0,140.0,130.0,184.0,178.0,0.0326
1,3,G0100030,2016-2020,AL,NaN,NaN,Alabama,1,Baldwin County,3.0,...,178.0,625.0,604.0,113.0,443.0,448.0,154.0,475.0,436.0,0.0119
2,4,G0100050,2016-2020,AL,NaN,NaN,Alabama,1,Barbour County,5.0,...,89.0,154.0,182.0,2.0,87.0,87.0,41.0,99.0,99.0,0.0252
3,5,G0100070,2016-2020,AL,NaN,NaN,Alabama,1,Bibb County,7.0,...,127.0,172.0,198.0,125.0,144.0,159.0,149.0,160.0,147.0,0.0408
4,6,G0100090,2016-2020,AL,NaN,NaN,Alabama,1,Blount County,9.0,...,96.0,406.0,394.0,42.0,147.0,145.0,95.0,260.0,266.0,0.0247

In [167]:
df8['State Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [168]:
df8_va = df8[df8['State Name'] == 'Virginia']
df8_va

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Female: 35 to 64 years,Female: 35 to 64 years: With a disability,Female: 35 to 64 years: No disability,Female: 65 to 74 years,Female: 65 to 74 years: With a disability,Female: 65 to 74 years: No disability,Female: 75 years and over,Female: 75 years and over: With a disability,Female: 75 years and over: No disability,Gini Index
2821,2823,G5100010,2016-2020,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,144.0,178.0,232.0,107.0,138.0,172.0,35.0,146.0,147.0,0.0194
2822,2824,G5100030,2016-2020,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,90.0,235.0,249.0,79.0,177.0,183.0,159.0,343.0,325.0,0.0150
2823,2825,G5100050,2016-2020,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,73.0,131.0,153.0,65.0,125.0,126.0,60.0,115.0,101.0,0.0287
2824,2826,G5100070,2016-2020,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,94.0,162.0,187.0,18.0,86.0,87.0,48.0,92.0,87.0,0.0416
2825,2827,G5100090,2016-2020,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,115.0,169.0,180.0,31.0,147.0,148.0,72.0,133.0,151.0,0.0211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,2951,G5108000,2016-2020,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,97.0,336.0,339.0,56.0,208.0,202.0,91.0,176.0,179.0,0.0178
2950,2952,G5108100,2016-2020,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,241.0,693.0,733.0,68.0,417.0,408.0,195.0,500.0,530.0,0.0104
2951,2953,G5108200,2016-2020,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,144.0,227.0,251.0,58.0,129.0,128.0,148.0,158.0,130.0,0.0466
2952,2954,G5108300,2016-2020,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,93.0,93.0,143.0,43.0,53.0,68.0,60.0,106.0,95.0,0.0633
2953,2955,G5108400,2016-2020,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,145.0,282.0,280.0,103.0,143.0,122.0,105.0,142.0,126.0,0.0238

In [169]:
virginia_counties = pd.concat([virginia_counties, df8_va], ignore_index=True)
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Female: 18 to 34 years: With a disability,Female: 18 to 34 years: No disability,Female: 35 to 64 years,Female: 35 to 64 years: With a disability,Female: 35 to 64 years: No disability,Female: 65 to 74 years,Female: 65 to 74 years: With a disability,Female: 65 to 74 years: No disability,Female: 75 years and over: With a disability,Female: 75 years and over: No disability
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2951,G5108000,2016-2020,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,119.0,149.0,97.0,336.0,339.0,56.0,208.0,202.0,176.0,179.0
1063,2952,G5108100,2016-2020,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,555.0,733.0,241.0,693.0,733.0,68.0,417.0,408.0,500.0,530.0
1064,2953,G5108200,2016-2020,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,116.0,191.0,144.0,227.0,251.0,58.0,129.0,128.0,158.0,130.0
1065,2954,G5108300,2016-2020,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,115.0,147.0,93.0,93.0,143.0,43.0,53.0,68.0,106.0,95.0
1066,2955,G5108400,2016-2020,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,186.0,202.0,145.0,282.0,280.0,103.0,143.0,122.0,142.0,126.0

Cleaning

In [170]:
virginia_counties.head()

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Female: 18 to 34 years: With a disability,Female: 18 to 34 years: No disability,Female: 35 to 64 years,Female: 35 to 64 years: With a disability,Female: 35 to 64 years: No disability,Female: 65 to 74 years,Female: 65 to 74 years: With a disability,Female: 65 to 74 years: No disability,Female: 75 years and over: With a disability,Female: 75 years and over: No disability
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Cannot drop NA's because it results in no data, since each row has atleast one missing value

In [174]:
virginia_counties = virginia_counties.replace(np.nan, np.nan) # Just to ensure they were already represented as NaN
virginia_counties

,1,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,...,Female: 18 to 34 years: With a disability,Female: 18 to 34 years: No disability,Female: 35 to 64 years,Female: 35 to 64 years: With a disability,Female: 35 to 64 years: No disability,Female: 65 to 74 years,Female: 65 to 74 years: With a disability,Female: 65 to 74 years: No disability,Female: 75 years and over: With a disability,Female: 75 years and over: No disability
0,2822,G5100010,2006-2010,VA,NaN,NaN,Virginia,51,Accomack County,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2823,G5100030,2006-2010,VA,NaN,NaN,Virginia,51,Albemarle County,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2824,G5100050,2006-2010,VA,NaN,NaN,Virginia,51,Alleghany County,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2825,G5100070,2006-2010,VA,NaN,NaN,Virginia,51,Amelia County,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2826,G5100090,2006-2010,VA,NaN,NaN,Virginia,51,Amherst County,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2951,G5108000,2016-2020,VA,NaN,NaN,Virginia,51,Suffolk city,800.0,...,119.0,149.0,97.0,336.0,339.0,56.0,208.0,202.0,176.0,179.0
1063,2952,G5108100,2016-2020,VA,NaN,NaN,Virginia,51,Virginia Beach city,810.0,...,555.0,733.0,241.0,693.0,733.0,68.0,417.0,408.0,500.0,530.0
1064,2953,G5108200,2016-2020,VA,NaN,NaN,Virginia,51,Waynesboro city,820.0,...,116.0,191.0,144.0,227.0,251.0,58.0,129.0,128.0,158.0,130.0
1065,2954,G5108300,2016-2020,VA,NaN,NaN,Virginia,51,Williamsburg city,830.0,...,115.0,147.0,93.0,93.0,143.0,43.0,53.0,68.0,106.0,95.0
1066,2955,G5108400,2016-2020,VA,NaN,NaN,Virginia,51,Winchester city,840.0,...,186.0,202.0,145.0,282.0,280.0,103.0,143.0,122.0,142.0,126.0

In [175]:
for column in virginia_counties.columns:
    print(f"Column: {column}")
    print(virginia_counties[column].value_counts())
    print("\n")

Streaming output truncated to the last 5000 lines.


Column: Female: Service occupations: Protective service occupations: Law enforcement workers including supervisors
Female: Service occupations: Protective service occupations: Law enforcement workers including supervisors
20.0     13
18.0     11
24.0      9
17.0      4
23.0      4
         ..
62.0      1
85.0      1
77.0      1
242.0     1
178.0     1
Name: count, Length: 69, dtype: int64


Column: Female: Service occupations: Food preparation and serving related occupations
Female: Service occupations: Food preparation and serving related occupations
93.0     3
115.0    2
124.0    2
69.0     2
85.0     2
        ..
149.0    1
71.0     1
246.0    1
158.0    1
91.0     1
Name: count, Length: 110, dtype: int64


Column: Female: Service occupations: Building and grounds cleaning and maintenance occupations
Female: Service occupations: Building and grounds cleaning and maintenance occupations
65.0     4
18.0     3
84.0     3
60.0     3
50.0     3
        ..
45.0     1
187.0    1
11.0     1
466.0    1
394.0    1
Name: count, Length: 102, dtype: int64


Column: Female: Service occupations: Personal care and service occupations
Female: Service occupations: Personal care and service occupations
67.0     3
131.0    3
29.0     2
171.0    2
17.0     2
        ..
140.0    1
108.0    1
97.0     1
64.0     1
128.0    1
Name: count, Length: 109, dtype: int64


Column: Female: Sales and office occupations
Female: Sales and office occupations
272.0     2
218.0     2
502.0     2
295.0     2
408.0     2
         ..
374.0     1
1217.0    1
307.0     1
117.0     1
324.0     1
Name: count, Length: 120, dtype: int64


Column: Female: Sales and office occupations: Sales and related occupations
Female: Sales and office occupations: Sales and related occupations
205.0    3
101.0    3
183.0    3
288.0    2
94.0     2
        ..
155.0    1
142.0    1
278.0    1
140.0    1
256.0    1
Name: count, Length: 115, dtype: int64


Column: Female: Sales and office occupations: Office and administrative support occupations
Female: Sales and office occupations: Office and administrative support occupations
131.0     3
193.0     3
221.0     3
220.0     2
494.0     2
         ..
53.0      1
310.0     1
1078.0    1
456.0     1
1104.0    1
Name: count, Length: 111, dtype: int64


Column: Female: Natural resources, construction, and maintenance occupations
Female: Natural resources, construction, and maintenance occupations
20.0     8
18.0     7
44.0     5
21.0     3
24.0     3
        ..
49.0     1
48.0     1
195.0    1
33.0     1
250.0    1
Name: count, Length: 83, dtype: int64


Column: Female: Natural resources, construction, and maintenance occupations: Farming, fishing, and forestry occupations
Female: Natural resources, construction, and maintenance occupations: Farming, fishing, and forestry occupations
20.0     25
24.0     18
27.0     14
30.0     13
18.0     13
17.0      3
61.0      3
63.0      3
33.0      2
54.0      2
38.0      2
22.0      2
16.0      2
13.0      2
12.0      2
58.0      2
57.0      1
37.0      1
114.0     1
15.0      1
93.0      1
52.0      1
9.0       1
146.0     1
109.0     1
68.0      1
35.0      1
26.0      1
60.0      1
21.0      1
41.0      1
49.0      1
39.0      1
53.0      1
5.0       1
67.0      1
34.0      1
10.0      1
98.0      1
105.0     1
92.0      1
Name: count, dtype: int64


Column: Female: Natural resources, construction, and maintenance occupations: Construction and extraction occupations
Female: Natural resources, construction, and maintenance occupations: Construction and extraction occupations
20.0     21
18.0     10
24.0      9
27.0      7
30.0      5
         ..
5.0       1
88.0      1
28.0      1
60.0      1
162.0     1
Name: count, Length: 62, dtype: int64


Column: Female: Natural resources, construction, and maintenance occupations: Installation, maintenance, and repair occupations
Female: Natural resources, construction, and maintenance occupations: Installation, maintenance, and repair occupations
20.0     23
18.0     11
24.0     10
27.0      7
14.0      5
30.0      4
16.0      3
31.0      3
7.0       3
13.0      3
26.0      3
41.0      3
37.0      2
51.0      2
49.0      2
8.0       2
94.0      2
38.0      2
35.0      2
107.0     2
23.0      1
77.0      1
99.0      1
43.0      1
45.0      1
88.0      1
66.0      1
85.0      1
72.0      1
283.0     1
22.0      1
9.0       1
81.0      1
29.0      1
121.0     1
68.0      1
182.0     1
33.0      1
108.0     1
44.0      1
19.0      1
48.0      1
123.0     1
21.0      1
55.0      1
129.0     1
50.0      1
42.0      1
87.0      1
54.0      1
61.0      1
10.0      1
128.0     1
80.0      1
60.0      1
39.0      1
15.0      1
93.0      1
176.0     1
Name: count, dtype: int64


Column: Female: Production, transportation, and material moving occupations
Female: Production, transportation, and material moving occupations
96.0     4
74.0     2
233.0    2
120.0    2
137.0    2
        ..
124.0    1
54.0     1
11.0     1
313.0    1
61.0     1
Name: count, Length: 113, dtype: int64


Column: Female: Production, transportation, and material moving occupations: Production occupations
Female: Production, transportation, and material moving occupations: Production occupations
62.0     3
55.0     3
47.0     3
56.0     3
13.0     3
        ..
251.0    1
378.0    1
188.0    1
252.0    1
119.0    1
Name: count, Length: 100, dtype: int64


Column: Female: Production, transportation, and material moving occupations: Transportation occupations
Female: Production, transportation, and material moving occupations: Transportation occupations
18.0     5
24.0     4
15.0     4
20.0     4
55.0     4
        ..
63.0     1
126.0    1
103.0    1
86.0     1
179.0    1
Name: count, Length: 87, dtype: int64


Column: Female: Production, transportation, and material moving occupations: Material moving occupations
Female: Production, transportation, and material moving occupations: Material moving occupations
18.0     3
40.0     3
49.0     3
118.0    3
54.0     3
        ..
385.0    1
105.0    1
119.0    1
66.0     1
162.0    1
Name: count, Length: 99, dtype: int64


Column: Total.29
Total.29
246.0    3
601.0    2
266.0    2
556.0    2
555.0    2
        ..
490.0    1
688.0    1
340.0    1
873.0    1
347.0    1
Name: count, Length: 119, dtype: int64


Column: Male.3
Male.3
319.0    4
215.0    3
389.0    3
431.0    2
185.0    2
        ..
245.0    1
259.0    1
189.0    1
646.0    1
391.0    1
Name: count, Length: 112, dtype: int64


Column: Male: Finance and insurance, and real estate, and rental and leasing
Male: Finance and insurance, and real estate, and rental and leasing
82.0     3
161.0    3
60.0     3
78.0     3
38.0     2
        ..
401.0    1
72.0     1
87.0     1
128.0    1
122.0    1
Name: count, Length: 106, dtype: int64


Column: Male: Finance and insurance, and real estate, and rental and leasing: Finance and insurance
Male: Finance and insurance, and real estate, and rental and leasing: Finance and insurance
42.0     4
87.0     3
21.0     3
38.0     3
56.0     3
        ..
207.0    1
156.0    1
76.0     1
779.0    1
75.0     1
Name: count, Length: 98, dtype: int64


Column: Male: Finance and insurance, and real estate, and rental and leasing: Real estate and rental and leasing
Male: Finance and insurance, and real estate, and rental and leasing: Real estate and rental and leasing
18.0     7
36.0     4
31.0     3
98.0     3
25.0     3
        ..
74.0     1
75.0     1
68.0     1
472.0    1
103.0    1
Name: count, Length: 95, dtype: int64


Column: Male: Professional, scientific, and management, and administrative, and waste management services
Male: Professional, scientific, and management, and administrative, and waste management services
152.0    3
153.0    3
215.0    2
167.0    2
218.0    2
        ..
780.0    1
437.0    1
76.0     1
83.0     1
259.0    1
Name: count, Length: 112, dtype: int64


Column: Male: Professional, scientific, and management, and administrative, and waste management services: Professional, scientific, and technical services
Male: Professional, scientific, and management, and administrative, and waste management services: Professional, scientific, and technical services
122.0    3
12.0     3
58.0     2
114.0    2
78.0     2
        ..
381.0    1
200.0    1
34.0     1
119.0    1
206.0    1
Name: count, Length: 109, dtype: int64


Column: Male: Professional, scientific, and management, and administrative, and waste management services: Management of companies and enterprises
Male: Professional, scientific, and management, and administrative, and waste management services: Management of companies and enterprises
20.0     34
27.0     20
24.0     18
18.0     17
30.0      9
13.0      4
90.0      2
19.0      2
11.0      2
15.0      1
65.0      1
23.0      1
87.0      1
25.0      1
52.0      1
75.0      1
63.0      1
72.0      1
9.0       1
129.0     1
7.0       1
34.0      1
6.0       1
14.0      1
74.0      1
16.0      1
8.0       1
29.0      1
28.0      1
148.0     1
17.0      1
44.0      1
100.0     1
41.0      1
Name: count, dtype: int64


Column: Male: Professional, scientific, and management, and administrative, and waste management services: Administrative and support and waste management services
Male: Professional, scientific, and management, and administrative, and waste management services: Administrative and support and waste management services
99.0     3
155.0    2
152.0    2
75.0     2
186.0    2
        ..
159.0    1
43.0     1
58.0     1
134.0    1
204.0    1
Name: count, Length: 117, dtype: int64


Column: Female.3
Female.3
222.0    3
336.0    3
472.0    2
163.0    2
194.0    2
        ..
444.0    1
200.0    1
340.0    1
179.0    1
307.0    1
Name: count, Length: 120, dtype: int64


Column: Female: Finance and insurance, and real estate, and rental and leasing
Female: Finance and insurance, and real estate, and rental and leasing
116.0    4
106.0    3
85.0     3
168.0    2
64.0     2
        ..
75.0     1
14.0     1
133.0    1
212.0    1
201.0    1
Name: count, Length: 109, dtype: int64


Column: Female: Finance and insurance, and real estate, and rental and leasing: Finance and insurance
Female: Finance and insurance, and real estate, and rental and leasing: Finance and insurance
115.0    5
51.0     3
104.0    3
66.0     3
77.0     2
        ..
12.0     1
70.0     1
785.0    1
303.0    1
185.0    1
Name: count, Length: 107, dtype: int64


Column: Female: Finance and insurance, and real estate, and rental and leasing: Real estate and rental and leasing
Female: Finance and insurance, and real estate, and rental and leasing: Real estate and rental and leasing
18.0     6
93.0     4
88.0     3
10.0     3
90.0     3
        ..
83.0     1
48.0     1
33.0     1
72.0     1
454.0    1
Name: count, Length: 91, dtype: int64


Column: Female: Professional, scientific, and management, and administrative, and waste management services
Female: Professional, scientific, and management, and administrative, and waste management services
159.0    3
80.0     3
199.0    3
86.0     3
111.0    2
        ..
25.0     1
295.0    1
850.0    1
344.0    1
219.0    1
Name: count, Length: 114, dtype: int64


Column: Female: Professional, scientific, and management, and administrative, and waste management services: Professional, scientific, and technical services
Female: Professional, scientific, and management, and administrative, and waste management services: Professional, scientific, and technical services
58.0     4
127.0    3
107.0    3
103.0    3
102.0    2
        ..
55.0     1
76.0     1
175.0    1
174.0    1
154.0    1
Name: count, Length: 108, dtype: int64


Column: Female: Professional, scientific, and management, and administrative, and waste management services: Management of companies and enterprises
Female: Professional, scientific, and management, and administrative, and waste management services: Management of companies and enterprises
20.0     32
24.0     17
18.0     15
27.0     11
30.0      8
11.0      3
13.0      3
45.0      3
40.0      2
12.0      2
31.0      2
22.0      2
47.0      1
7.0       1
69.0      1
50.0      1
36.0      1
81.0      1
33.0      1
151.0     1
32.0      1
82.0      1
46.0      1
58.0      1
128.0     1
28.0      1
23.0      1
21.0      1
43.0      1
15.0      1
3.0       1
126.0     1
5.0       1
175.0     1
44.0      1
35.0      1
113.0     1
4.0       1
53.0      1
49.0      1
39.0      1
74.0      1
75.0      1
19.0      1
98.0      1
Name: count, dtype: int64


Column: Female: Professional, scientific, and management, and administrative, and waste management services: Administrative and support and waste management services
Female: Professional, scientific, and management, and administrative, and waste management services: Administrative and support and waste management services
117.0    4
75.0     3
99.0     3
42.0     2
84.0     2
        ..
289.0    1
594.0    1
255.0    1
120.0    1
45.0     1
Name: count, Length: 105, dtype: int64


Column: Total.30
Total.30
49.0     3
94.0     3
66.0     3
229.0    2
61.0     2
        ..
35.0     1
163.0    1
136.0    1
98.0     1
172.0    1
Name: count, Length: 104, dtype: int64


Column: Total.31
Total.31
49.0     3
94.0     3
66.0     3
229.0    2
61.0     2
        ..
35.0     1
163.0    1
136.0    1
98.0     1
172.0    1
Name: count, Length: 104, dtype: int64


Column: Total.32
Total.32
268.0    5
280.0    3
225.0    2
281.0    2
349.0    2
        ..
877.0    1
442.0    1
370.0    1
231.0    1
302.0    1
Name: count, Length: 117, dtype: int64


Column: Total.33
Total.33
265.0    4
263.0    3
353.0    2
346.0    2
187.0    2
        ..
316.0    1
88.0     1
494.0    1
888.0    1
280.0    1
Name: count, Length: 116, dtype: int64


Column: For rent
For rent
20.0     8
44.0     5
129.0    3
213.0    2
178.0    2
        ..
28.0     1
346.0    1
53.0     1
14.0     1
240.0    1
Name: count, Length: 105, dtype: int64


Column: Rented, not occupied
Rented, not occupied
18.0     12
20.0     12
24.0      9
15.0      4
27.0      3
         ..
45.0      1
334.0     1
29.0      1
95.0      1
105.0     1
Name: count, Length: 82, dtype: int64


Column: For sale only
For sale only
77.0     4
128.0    3
20.0     3
45.0     3
18.0     3
        ..
56.0     1
69.0     1
135.0    1
157.0    1
119.0    1
Name: count, Length: 99, dtype: int64


Column: Sold, not occupied
Sold, not occupied
20.0     12
24.0     11
18.0      9
66.0      4
45.0      3
         ..
132.0     1
38.0      1
108.0     1
142.0     1
271.0     1
Name: count, Length: 76, dtype: int64


Column: For seasonal, recreational, or occasional use
For seasonal, recreational, or occasional use
141.0    4
242.0    3
130.0    3
116.0    3
268.0    2
        ..
264.0    1
84.0     1
160.0    1
158.0    1
499.0    1
Name: count, Length: 104, dtype: int64


Column: For migrant workers
For migrant workers
20.0    32
30.0    31
24.0    21
27.0    19
18.0    14
13.0     2
54.0     1
6.0      1
43.0     1
45.0     1
23.0     1
47.0     1
35.0     1
69.0     1
67.0     1
36.0     1
74.0     1
26.0     1
62.0     1
71.0     1
Name: count, dtype: int64


Column: Other vacant
Other vacant
231.0    3
201.0    3
169.0    2
312.0    2
140.0    2
        ..
57.0     1
375.0    1
373.0    1
239.0    1
154.0    1
Name: count, Length: 118, dtype: int64


Column: Total.34
Total.34
49.0     3
94.0     3
66.0     3
229.0    2
61.0     2
        ..
35.0     1
163.0    1
136.0    1
98.0     1
172.0    1
Name: count, Length: 104, dtype: int64


Column: Total.35
Total.35
49.0     3
94.0     3
66.0     3
229.0    2
61.0     2
        ..
35.0     1
163.0    1
136.0    1
98.0     1
172.0    1
Name: count, Length: 104, dtype: int64


Column: Built 2014 or later
Built 2014 or later
18.0     4
154.0    4
168.0    3
127.0    3
68.0     3
        ..
25.0     1
90.0     1
495.0    1
341.0    1
138.0    1
Name: count, Length: 106, dtype: int64


Column: Built 2010 to 2013
Built 2010 to 2013
117.0    4
75.0     3
238.0    2
18.0     2
115.0    2
        ..
299.0    1
25.0     1
451.0    1
260.0    1
54.0     1
Name: count, Length: 109, dtype: int64


Column: Built 2000 to 2009
Built 2000 to 2009
344.0     3
341.0     2
273.0     2
208.0     2
194.0     2
         ..
300.0     1
1243.0    1
516.0     1
304.0     1
166.0     1
Name: count, Length: 117, dtype: int64


Column: Median year structure built
Median year structure built
2.0    61
3.0    36
1.0    20
4.0     7
5.0     4
6.0     3
8.0     1
7.0     1
Name: count, dtype: int64


Column: Total.36
Total.36
268.0    5
280.0    3
225.0    2
281.0    2
349.0    2
        ..
877.0    1
442.0    1
370.0    1
231.0    1
302.0    1
Name: count, Length: 117, dtype: int64


Column: Owner occupied.1
Owner occupied.1
183.0    2
365.0    2
311.0    2
276.0    2
278.0    2
        ..
262.0    1
279.0    1
477.0    1
300.0    1
380.0    1
Name: count, Length: 126, dtype: int64


Column: Owner occupied: No vehicle available
Owner occupied: No vehicle available
65.0     5
92.0     4
52.0     4
73.0     2
24.0     2
        ..
37.0     1
101.0    1
133.0    1
90.0     1
543.0    1
Name: count, Length: 102, dtype: int64


Column: Owner occupied: 1 vehicle available
Owner occupied: 1 vehicle available
208.0    4
187.0    3
173.0    3
243.0    2
225.0    2
        ..
343.0    1
174.0    1
244.0    1
189.0    1
210.0    1
Name: count, Length: 114, dtype: int64


Column: Owner occupied: 2 vehicles available
Owner occupied: 2 vehicles available
204.0    3
332.0    2
370.0    2
174.0    2
202.0    2
        ..
123.0    1
308.0    1
529.0    1
274.0    1
303.0    1
Name: count, Length: 120, dtype: int64


Column: Owner occupied: 3 vehicles available
Owner occupied: 3 vehicles available
304.0    2
123.0    2
186.0    2
174.0    2
204.0    2
        ..
599.0    1
382.0    1
158.0    1
323.0    1
233.0    1
Name: count, Length: 118, dtype: int64


Column: Owner occupied: 4 vehicles available
Owner occupied: 4 vehicles available
140.0    3
141.0    3
85.0     2
106.0    2
203.0    2
        ..
89.0     1
142.0    1
102.0    1
231.0    1
158.0    1
Name: count, Length: 118, dtype: int64


Column: Owner occupied: 5 or more vehicles available
Owner occupied: 5 or more vehicles available
78.0     3
119.0    3
106.0    3
196.0    3
162.0    3
        ..
116.0    1
247.0    1
89.0     1
260.0    1
30.0     1
Name: count, Length: 106, dtype: int64


Column: Renter occupied.1
Renter occupied.1
204.0     3
269.0     3
340.0     2
285.0     2
251.0     2
         ..
1539.0    1
545.0     1
408.0     1
178.0     1
314.0     1
Name: count, Length: 119, dtype: int64


Column: Renter occupied: No vehicle available
Renter occupied: No vehicle available
143.0    4
117.0    3
190.0    3
89.0     2
87.0     2
        ..
210.0    1
649.0    1
221.0    1
96.0     1
94.0     1
Name: count, Length: 110, dtype: int64


Column: Renter occupied: 1 vehicle available
Renter occupied: 1 vehicle available
97.0      3
345.0     3
140.0     2
131.0     2
233.0     2
         ..
15.0      1
546.0     1
1161.0    1
282.0     1
394.0     1
Name: count, Length: 119, dtype: int64


Column: Renter occupied: 2 vehicles available
Renter occupied: 2 vehicles available
130.0    3
187.0    2
215.0    2
128.0    2
133.0    2
        ..
358.0    1
208.0    1
94.0     1
146.0    1
329.0    1
Name: count, Length: 112, dtype: int64


Column: Renter occupied: 3 vehicles available
Renter occupied: 3 vehicles available
56.0     3
101.0    3
95.0     3
82.0     3
127.0    2
        ..
19.0     1
134.0    1
466.0    1
147.0    1
137.0    1
Name: count, Length: 110, dtype: int64


Column: Renter occupied: 4 vehicles available
Renter occupied: 4 vehicles available
18.0     8
40.0     4
24.0     4
92.0     3
17.0     3
        ..
61.0     1
73.0     1
149.0    1
254.0    1
124.0    1
Name: count, Length: 91, dtype: int64


Column: Renter occupied: 5 or more vehicles available
Renter occupied: 5 or more vehicles available
20.0     13
24.0     12

In [176]:
for column in virginia_counties.columns:
    print(f"Column: {column}")
    print(virginia_counties[column].describe())
    print("\n")

Streaming output truncated to the last 5000 lines.
min        2.000000
25%       18.000000
50%       20.000000
75%       27.000000
max      131.000000
Name: Income in the past 12 months below poverty level: Family households: Other family: Male householder, no spouse present: Householder 65 years and over, dtype: float64


Column: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present
count    133.000000
mean     159.180451
std      121.765724
min       13.000000
25%       81.000000
50%      131.000000
75%      190.000000
max      574.000000
Name: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present, dtype: float64


Column: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present: Householder under 25 years
count    133.000000
mean      44.067669
std       45.734609
min        6.000000
25%       20.000000
50%       24.000000
75%       52.000000
max      317.000000
Name: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present: Householder under 25 years, dtype: float64


Column: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present: Householder 25 to 44 years
count    133.000000
mean     124.849624
std       99.732635
min        8.000000
25%       57.000000
50%      103.000000
75%      149.000000
max      456.000000
Name: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present: Householder 25 to 44 years, dtype: float64


Column: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present: Householder 45 to 64 years
count    133.000000
mean      69.977444
std       50.661453
min        3.000000
25%       32.000000
50%       58.000000
75%       96.000000
max      283.000000
Name: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present: Householder 45 to 64 years, dtype: float64


Column: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present: Householder 65 years and over
count    133.000000
mean      39.796992
std       39.038008
min        2.000000
25%       18.000000
50%       27.000000
75%       46.000000
max      244.000000
Name: Income in the past 12 months below poverty level: Family households: Other family: Female householder, no spouse present: Householder 65 years and over, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households
count    133.000000
mean     235.962406
std      156.325099
min       20.000000
25%      139.000000
50%      197.000000
75%      292.000000
max      948.000000
Name: Income in the past 12 months below poverty level: Nonfamily households, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Male householder
count    133.000000
mean     150.992481
std      109.011641
min       14.000000
25%       76.000000
50%      126.000000
75%      197.000000
max      699.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Male householder, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Male householder: Householder under 25 years
count    133.000000
mean      49.631579
std       50.084243
min        3.000000
25%       20.000000
50%       27.000000
75%       60.000000
max      281.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Male householder: Householder under 25 years, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Male householder: Householder 25 to 44 years
count    133.000000
mean      62.699248
std       61.603078
min        3.000000
25%       24.000000
50%       44.000000
75%       79.000000
max      434.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Male householder: Householder 25 to 44 years, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Male householder: Householder 45 to 64 years
count    133.000000
mean      95.293233
std       64.991116
min       14.000000
25%       48.000000
50%       80.000000
75%      122.000000
max      355.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Male householder: Householder 45 to 64 years, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Male householder: Householder 65 years and over
count    133.000000
mean      73.278195
std       67.004676
min        5.000000
25%       28.000000
50%       57.000000
75%      100.000000
max      582.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Male householder: Householder 65 years and over, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Female householder
count    133.000000
mean     178.315789
std      114.075956
min       20.000000
25%       98.000000
50%      155.000000
75%      219.000000
max      570.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Female householder, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Female householder: Householder under 25 years
count    133.000000
mean      54.684211
std       50.782270
min        6.000000
25%       20.000000
50%       27.000000
75%       75.000000
max      268.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Female householder: Householder under 25 years, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Female householder: Householder 25 to 44 years
count    133.000000
mean      62.939850
std       63.160661
min        3.000000
25%       20.000000
50%       41.000000
75%       80.000000
max      322.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Female householder: Householder 25 to 44 years, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Female householder: Householder 45 to 64 years
count    133.000000
mean     102.390977
std       67.920055
min        4.000000
25%       56.000000
50%       88.000000
75%      132.000000
max      410.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Female householder: Householder 45 to 64 years, dtype: float64


Column: Income in the past 12 months below poverty level: Nonfamily households: Female householder: Householder 65 years and over
count    133.000000
mean     108.932331
std       72.261540
min       12.000000
25%       57.000000
50%       90.000000
75%      139.000000
max      392.000000
Name: Income in the past 12 months below poverty level: Nonfamily households: Female householder: Householder 65 years and over, dtype: float64


Column: Income in the past 12 months at or above poverty level.1
count     266.000000
mean      630.357143
std       514.656064
min        86.000000
25%       323.500000
50%       469.500000
75%       765.000000
max      4305.000000
Name: Income in the past 12 months at or above poverty level.1, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households
count     133.000000
mean      482.496241
std       329.235607
min        77.000000
25%       266.000000
50%       380.000000
75%       582.000000
max      2129.000000
Name: Income in the past 12 months at or above poverty level: Family households, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Married-couple family
count     133.000000
mean      478.511278
std       363.195469
min        80.000000
25%       255.000000
50%       373.000000
75%       551.000000
max      2472.000000
Name: Income in the past 12 months at or above poverty level: Family households: Married-couple family, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Married-couple family: Householder under 25 years
count    133.000000
mean      64.571429
std       67.373145
min        5.000000
25%       20.000000
50%       45.000000
75%       82.000000
max      486.000000
Name: Income in the past 12 months at or above poverty level: Family households: Married-couple family: Householder under 25 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Married-couple family: Householder 25 to 44 years
count     133.000000
mean      282.368421
std       236.395709
min        25.000000
25%       137.000000
50%       213.000000
75%       316.000000
max      1510.000000
Name: Income in the past 12 months at or above poverty level: Family households: Married-couple family: Householder 25 to 44 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Married-couple family: Householder 45 to 64 years
count     133.000000
mean      295.443609
std       214.917476
min        55.000000
25%       166.000000
50%       235.000000
75%       337.000000
max      1555.000000
Name: Income in the past 12 months at or above poverty level: Family households: Married-couple family: Householder 45 to 64 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Married-couple family: Householder 65 years and over
count     133.000000
mean      215.120301
std       144.301139
min        50.000000
25%       125.000000
50%       166.000000
75%       254.000000
max      1121.000000
Name: Income in the past 12 months at or above poverty level: Family households: Married-couple family: Householder 65 years and over, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family
count     133.000000
mean      330.255639
std       262.757858
min        49.000000
25%       174.000000
50%       257.000000
75%       368.000000
max      1668.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present
count    133.000000
mean     188.037594
std      152.218215
min       12.000000
25%       90.000000
50%      149.000000
75%      205.000000
max      884.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present: Householder under 25 years
count    133.000000
mean      39.857143
std       39.130152
min        3.000000
25%       18.000000
50%       24.000000
75%       48.000000
max      213.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present: Householder under 25 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present: Householder 25 to 44 years
count    133.000000
mean     121.097744
std      110.319774
min        6.000000
25%       54.000000
50%       89.000000
75%      148.000000
max      639.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present: Householder 25 to 44 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present: Householder 45 to 64 years
count    133.000000
mean     116.097744
std       96.145082
min        9.000000
25%       52.000000
50%       93.000000
75%      140.000000
max      595.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present: Householder 45 to 64 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present: Householder 65 years and over
count    133.000000
mean      66.827068
std       51.766011
min        4.000000
25%       28.000000
50%       54.000000
75%       88.000000
max      284.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Male householder, no spouse present: Householder 65 years and over, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present
count     133.000000
mean      270.353383
std       216.146492
min         3.000000
25%       147.000000
50%       206.000000
75%       302.000000
max      1275.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present: Householder under 25 years
count    133.000000
mean      49.556391
std       50.505987
min        3.000000
25%       20.000000
50%       27.000000
75%       64.000000
max      304.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present: Householder under 25 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present: Householder 25 to 44 years
count    133.000000
mean     168.834586
std      151.601760
min        7.000000
25%       78.000000
50%      122.000000
75%      198.000000
max      865.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present: Householder 25 to 44 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present: Householder 45 to 64 years
count    133.000000
mean     168.488722
std      143.516107
min       10.000000
25%       87.000000
50%      120.000000
75%      201.000000
max      885.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present: Householder 45 to 64 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present: Householder 65 years and over
count    133.000000
mean     123.330827
std       91.555805
min        3.000000
25%       62.000000
50%       96.000000
75%      160.000000
max      518.000000
Name: Income in the past 12 months at or above poverty level: Family households: Other family: Female householder, no spouse present: Householder 65 years and over, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households
count     133.000000
mean      458.233083
std       320.363025
min       117.000000
25%       249.000000
50%       372.000000
75%       500.000000
max      1977.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder
count     133.000000
mean      311.511278
std       227.376694
min        55.000000
25%       168.000000
50%       255.000000
75%       343.000000
max      1492.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder: Householder under 25 years
count    133.000000
mean      66.616541
std       68.416364
min        2.000000
25%       20.000000
50%       45.000000
75%       84.000000
max      385.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder: Householder under 25 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder: Householder 25 to 44 years
count     133.000000
mean      186.270677
std       178.511103
min         8.000000
25%        85.000000
50%       132.000000
75%       208.000000
max      1066.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder: Householder 25 to 44 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder: Householder 45 to 64 years
count     133.000000
mean      192.255639
std       146.477253
min        21.000000
25%        92.000000
50%       156.000000
75%       234.000000
max      1112.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder: Householder 45 to 64 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder: Householder 65 years and over
count    133.000000
mean     158.383459
std      104.220826
min       37.000000
25%       87.000000
50%      129.000000
75%      179.000000
max      626.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Male householder: Householder 65 years and over, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder
count     133.000000
mean      329.984962
std       241.288429
min        75.000000
25%       177.000000
50%       248.000000
75%       368.000000
max      1545.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder: Householder under 25 years
count    133.000000
mean      67.563910
std       73.381873
min        2.000000
25%       18.000000
50%       35.000000
75%       88.000000
max      374.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder: Householder under 25 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder: Householder 25 to 44 years
count    133.000000
mean     148.473684
std      158.160332
min        9.000000
25%       55.000000
50%       95.000000
75%      167.000000
max      881.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder: Householder 25 to 44 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder: Householder 45 to 64 years
count    133.000000
mean     190.413534
std      142.887810
min       32.000000
25%      100.000000
50%      145.000000
75%      224.000000
max      913.000000
Name: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder: Householder 45 to 64 years, dtype: float64


Column: Income in the past 12 months at or above poverty level: Nonfamily households: Female householder: Householder 65 years and over
count     133.000000
mean      216.774436
std       149.915613
min        63.000000
25%       119.000000
50%       174.000000
75%       246.000000
max      1131.000000

In [184]:
# Save clean data
virginia_counties.to_csv("all_va_county_data_clean.csv")

In [185]:
data = pd.read_csv("all_va_county_data_clean.csv")

<ipython-input-185-6057f658da35>:1: DtypeWarning: Columns (38,531) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("all_va_county_data_clean.csv")

In [ ]:
data = data['White alone', 'Black or African American alone', 'American Indian and Alaska Native alone', 'Asian alone', 'Native Hawaiian and Other Pacific Islander alone', 'Male: No schooling completed', 'Male: Nursery to 4th grade', 'Male: 5th and 6th grade', 'Male: 7th and 8th grade', 'Male: 9th grade', 'Male: 10th grade', 'Male: 11th grade', 'Male: 12th grade, no diploma', 'Male: High school graduate, GED, or alternative', 'Male: some college, less than 1 year', 'Male: Some college, 1 or more years, no degree', "Male: Associate's degree", "Male: Bachelor's degree", "Male: Master's degree", 'Male: Professional school degree', 'Male: Doctorate degree', 'Female: No schooling completed', 'Female: Nursery to 4th grade', 'Female: 5th and 6th grade', 'Female: 7th and 8th grade', 'Female: 9th grade', 'Female: 10th grade', 'Female: 11th grade', 'Female: 12th grade, no diploma', 'Female: High school graduate, GED, or alternative', 'Female: Some college, less than 1 year', 'Female: Some college, 1 or more years, no degree', "Female: Associate's degree", "Female: Bachelor's degree", "Female: Master's degree", 'Female: Professional school degree', 'Female: Doctorate degree', 'Less than $10,000', '$10,000 to $14,999', '$15,000 to $19,999', '$20,000 to $24,999', '$25,000']